<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.PharmacyInfoMapper">

    <!-- 分页获取商家信息 -->
    <select id="selectPharmacyPage" resultType="java.util.LinkedHashMap">
        select
        phi.id,
        phi.code,
        phi.name,
        phi.address,
        phi.business_status,
        phi.qualification,
        phi.longitude,
        phi.latitude,
        phi.images,
        phi.business_hours,
        phi.create_date,
        phi.legal_person,
        phi.phone
        from
        pharmacy_info phi
        where
        1 = 1
        <if test="pharmacyInfo.code != null and pharmacyInfo.code != ''">
            AND phi.code LIKE CONCAT('%',#{pharmacyInfo.code},'%')
        </if>
        <if test="pharmacyInfo.name != null and pharmacyInfo.name != ''">
            AND phi.name LIKE CONCAT('%',#{pharmacyInfo.name},'%')
        </if>
        <if test="pharmacyInfo.legalPerson != null and pharmacyInfo.legalPerson != ''">
            AND phi.legal_person LIKE CONCAT('%',#{pharmacyInfo.legalPerson},'%')
        </if>
        <if test="pharmacyInfo.businessStatus != null">
            AND phi.business_status = #{pharmacyInfo.businessStatus}
        </if>
        order by
        phi.create_date desc
    </select>

    <!-- 本月订单信息 -->
    <select id="selectOrderByMonth" resultType="cc.mrbird.febs.cos.entity.ParkOrderInfo">
        select
        oi.*
        from
        park_order_info oi
        where 1 = 1
        <if test="merchantId != null">
            AND oi.pharmacy_id = #{merchantId}
        </if>
        and oi.status >= '1'
        and DATE_FORMAT( oi.create_date, '%Y%m' ) = DATE_FORMAT(
        CURDATE(),
        '%Y%m')
    </select>

    <!-- 十天内订单数量统计 -->
    <select id="selectOrderNumWithinDays" resultType="java.util.LinkedHashMap">
        SELECT
        DATE_FORMAT( spo.days, '%m-%d' ) AS days,
        IFNULL(COUNT(oi.id), 0) AS count
        FROM
        (
        SELECT
        DATE_SUB( curdate(), INTERVAL + 0 DAY ) days UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 1 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 2 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 3 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 4 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 5 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 6 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 7 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 8 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 9 DAY )) spo
        LEFT JOIN park_order_info oi ON (
        DATE_FORMAT( oi.create_date, '%Y-%m-%d' ) = DATE_FORMAT( spo.days, '%Y-%m-%d' )
        <if test="merchantId != null">
            AND oi.pharmacy_id = #{merchantId}
        </if>
        AND oi.status != '0'
        )
        GROUP BY
        days
        ORDER BY
        days ASC
    </select>

    <!-- 十天内订单收益统计 -->
    <select id="selectOrderPriceWithinDays" resultType="java.util.LinkedHashMap">
        SELECT
        DATE_FORMAT( spo.days, '%m-%d' ) AS days,
        IFNULL(SUM(oi.total_price), 0) AS price
        FROM
        (
        SELECT
        DATE_SUB( curdate(), INTERVAL + 0 DAY ) days UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 1 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 2 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 3 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 4 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 5 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 6 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 7 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 8 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 9 DAY )) spo
        LEFT JOIN park_order_info oi ON (
        DATE_FORMAT( oi.create_date, '%Y-%m-%d' ) = DATE_FORMAT( spo.days, '%Y-%m-%d' )
        <if test="merchantId != null">
            AND oi.pharmacy_id = #{merchantId}
        </if>
        AND oi.status != '0'
        )
        GROUP BY
        days
        ORDER BY
        days ASC
    </select>
</mapper>
